.container {
	background-color: #fff;
	/* margin: 10px; */
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.time {
	font-weight: 500;
	text-decoration-line: underline;
}

#state {
	display: inline-block;
	border-radius: 6px;
	font-weight: 600;
	font-style: italic;
}
#state.accept {
	background-color: #bae1ee;
}
#state.pending {
	background-color: #f7eecd;
}
.btn {
	display: block;
}
#detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
